* {
  margin: 0;
  padding: 0;
}

.html {
  width: 100vw;
  height: calc(100vh);
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
}

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-buttons {
  width: auto;
}

.todo-list ol {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.todo-list li {
  display: flex;
  width: 20vw;
  padding: 1vh;
}

.todo-buttons {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25%;
}

.todo-buttons button {
  width: 100%;
}