p, h1 {
  cursor: default;
}

.navbar h1,
.card-header h1,
.card-content .box,
.card-content p {
  cursor: pointer;
}

.id-input {
  display: none;
}

.complete {
  opacity: 0.5;
  text-decoration: line-through wavy;
}

.due-today .box {
  background: #00d1b1 !important;
}

.due-today p {
  color: #363636;
  font-weight: bold;
}

.todo-list {
  width: 40vw;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.navbar-brand {
  flex: 1;
  justify-content: space-between;
}

.navbar-buttons {
  display: flex;
}

.navbar-buttons h1 {
  padding-left: 1vh;
}

.navbar-buttons > .is-vertical-center:nth-child(2) {
  padding-right: 1vh;
}

.navbar-brand > .navbar-item:first-child {
  margin-left: 0.75rem;
}

.background {
  background: #ececec;
}

.Create-Form,
.Edit-Form {
  padding-top: 15vh;
}

.title {
  display: flex;
  align-items: center;
}

.todo-list {
  margin: 0.75rem auto !important;
}

.todo-list > .card-content {
  padding-top: 0.75rem;
  padding-bottom: 0rem;
}

.card-content .box {
  margin-bottom: 0 !important;
}

.box {
  flex: 1;
}

.todo {
  display: flex;
  padding-bottom: 0.75rem;
}

.todo-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-buttons div {
  flex: 1;
  transition: all 0.25s;
  opacity: 0.5;
}

.todo-buttons div:hover {
  opacity: 1;
}

.navbar-buttons div button svg {
  position: relative;
  top: 0.1rem;
}

.control .button {
  margin-top: 1.5rem !important;
}

.display-none {
  display: none;
}

@media only screen and (max-width:767px) {

  html {
    margin-left: 0.75rem !important;
  }

  .navbar-brand {
    width: 100vw;
    justify-content: space-between;
  }

  .navbar-buttons {
    align-items: flex-end !important;
  }

  .navbar-buttons h1 {
    font-size: 100%;
  }

  .navbar-buttons span {
    display: none;
  }

  .Create-Form,
  .Edit-Form {
    padding-top: 10vh;
  }

  .todo-list {
    width: 80vw;
  }

  .middle-column,
  .side-column {
    padding-bottom: 0 !important;
  }

  .navbar-buttons > .is-vertical-center:nth-child(2) {
    padding-right: 0;
  }

  .navbar-brand > .navbar-item:first-child {
    margin-left: 0;
  }

  .side-column:first-child {
    margin-left: 0;
  }

  .todo-buttons div {
    opacity: 1;
  }

}

@media only screen and (min-width:768px) and (max-width:1024px) {

  html {
    margin-left: 0.75rem !important;
  }

  .todo-list {
    width: 60vw;
  }

  .todo-buttons div {
    opacity: 1;
  }

}