$primary-color: #8a4d76;
$secondary-color: rgba($primary-color, 0.5);
$off-black: #111;
$off-white: #eaeaea;
$white: #f5f5f5;


html {
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.Body {
  margin-top: 3.25rem !important;
}

p,
h1 {
  cursor: default;
}

.navbar h1,
.card-header h1,
.card-content .box,
.card-content p {
  cursor: pointer;
}

.id-input {
  display: none;
}

.spinner-div {
  margin-top: 25vh;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  padding: 5vh 0;
  margin: auto;
}

.spinner-text {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 0;
}

.complete {
  opacity: 0.5;
  text-decoration: line-through wavy;
}

.due-today {
  .box {
    background: $primary-color !important;
  }
  p {
    color: $white;
    font-weight: 500;
  }
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.navbar {
  box-shadow: 0 0.1rem 0.5rem $off-black;
  &-brand {
    flex: 1;
    justify-content: space-between;
  }

  &-buttons {
    display: flex;
  }

  &-buttons h1 {
    padding-left: 1vh;
  }

  &-buttons > .is-vertical-center:nth-child(2) {
    padding-right: 1vh;
  }

  &-brand > .navbar-item:first-child {
    margin-left: 0.75rem;
  }
}

.background {
  background: $off-white;
}

.middle-column > div {
  margin-bottom: 0 !important;
}

.title {
  display: flex;
  align-items: center;
}

.card-content {
  min-height: 10px;
}

.todo-list {
  width: 40vw;
  margin: 0.75rem auto !important;
  > .card-content {
    padding: 0.5rem 1rem 0;
  }
}

.Create-Form,
.Edit-Form {
  padding-top: 10vh;
  width: 30vw;
}

.card {
  border-radius: 0.5rem;
  box-shadow: -2px 4px 10px #00000040 !important; 
  -moz-box-shadow: -2px 4px 10px #00000040 !important;
  -webkit-box-shadow: -2px 4px 10px #00000040 !important;
  &-header {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &-content {
    border-radius: 0 0 0.5rem 0.5rem;
  }
  &-title {
    padding: 0.25rem !important;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
  &-content {
    background: $secondary-color !important;
    .box {
      margin-bottom: 0 !important;
    }
  }
}

.box {
  flex: 1;
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
}

.todo {
  display: flex;
  padding-bottom: 0.5rem;
  &-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      flex: 1;
      border-left: 0;
      border-right: 0;
      border-top-left-radius: 0rem;
      border-bottom-left-radius: 0rem;
      transition: all 0.2s;
      opacity: 0.625;
      &:first-child {
        border-top: 0;
      }
      &:nth-child(2) {
        border-bottom: 0;
      }
      &:hover {
        opacity: 1;
      }
      button svg {
        position: relative;
        top: 0.1rem;
      }
    }
  }
}

.todo-buttons {
  box-shadow: -1px 2px 7.5px #00000020; 
  -moz-box-shadow: -1px 2px 7.5px #00000020;
  -webkit-box-shadow: -1px 2px 7.5px #00000020;
}

.control .button {
  margin-top: 1.5rem !important;
}

.display-none {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 767px) {
  .columns {
    width: 100%;
  }

  .navbar {
    &-brand {
      width: 100vw;
      justify-content: space-between;
    }

    &-buttons {
      align-items: flex-end !important;
      h1 {
        font-size: 100%;
      }
      span {
        display: none;
      }
    }
  }

  .Create-Form,
  .Edit-Form {
    width: 80vw;
    margin: 0 auto;
  }

  .todo-list {
    width: 90vw;
  }

  .side-column {
    display: none !important;
    &:first-child {
      margin-left: 0;
    }
  }

  .middle-column,
  .side-column {
    padding-bottom: 0 !important;
  }

  .navbar-buttons > .is-vertical-center:nth-child(2) {
    padding-right: 0;
  }

  .navbar-brand > .navbar-item:first-child {
    margin-left: 0;
  }

  .todo-buttons div {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .todo-list {
    width: 60vw;
  }

  .Create-Form,
  .Edit-Form {
    width: 50vw;
  }

  .todo-buttons div {
    opacity: 1;
  }
}
